main {
	font-size: 0;
}

.centered {
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	text-align: center;
}

.box {
	display: inline-block;
	border: 1px solid black;
}

.top {
	width: 50%;
	height: 200px;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.bot {
	height: 300px;
	width: 33.3%;
}

.gray {
	background-color: gray;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}